html{
    font-size: 10px;

}

.title{
    font-size: 7rem;
    font-family: fantasy;
       font-weight: 100;
       letter-spacing: -1px;
   text-align: center;
   margin: 10px; 
}
.photowall{
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
 

}
.photo{
    border: 1px solid #d3d3d3;
    padding: 3rem;
    margin: 0 2rem 2rem 2rem;
    flex-basis: 33.333%;
    flex-grow: 1;
}

.photo img{
   width:calc(100% + 6rem);
   max-height: 250px;
   margin : -3rem 0 0 -3rem;
    
}
.button-container{
    width: 90%;
    margin:0 auto;
    text-align: center;

}
.button-container button{
   background: white;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    color:red;
    width: 50%;
    padding:5px;
    cursor: pointer;
}

.btn{
    width:10%;
    display:block;
    margin: 10px auto;
    color: black;
    text-decoration:none;
    text-align: center;
    padding: 5px 10px;
    background-color: gray;
    border:1px solid #d3d3d3;
    border-radius: 5px; 
}
.single-photo{
    padding:50px;
    display:flex;
    margin:20px;

}
.single-photo figure{
    flex: 1;
}
.single-photo div{
    flex: 1;
}